<% benchmarks = Bench.where(id: @benchmark.id) %>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <!-- /.card-header -->
            <div class="card-body p-0">
                <%= line_chart benchmarks.map { |bench| 
                    {name: bench.game.name, data: bench.inputs.where(id: bench.inputs.map {|input| input if input.id % 10 == 0 }).group(:position).sum(:fps)}}, title: "FPS", colors: @colors, points: false %>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <!-- /.card-header -->
            <div class="card-body p-0">
                <%= line_chart benchmarks.map { |bench| 
                    {name: bench.game.name, data: bench.inputs.where(id: bench.inputs.map {|input| input if input.id % 10 == 0 }).group(:position).sum(:frametime)}}, title: "Frametime", colors: @colors, points: false %>
            </div>
        </div>
    </div>
    <div class="col-6">
        <%= column_chart benchmarks.joins(:game).group('games.name', :id).joins(:inputs).average("inputs.gpu"), title: "GPU Load", colors: @colors, max: 100, library: { plotOptions: { column: { colorByPoint: false, stacking: "normal" }}} %>
    </div>
    <div class="col-6">
        <%= column_chart benchmarks.joins(:game).group('games.name', :id).joins(:inputs).average("inputs.cpu"), title: "CPU Load", colors: @colors, max: 100, library: { plotOptions: { column: { colorByPoint: false, stacking: "normal" }}} %>
    </div>
</div>

<script>
  $.each(Chartkick.charts, function(name, chart) {
    chart.chart.options.scales.xAxes[0].ticks.display = false;
    chart.chart.options.scales.xAxes[0].gridLines.display = false;
    // chart.chart.options.scales.yAxes[0].ticks.display = false;
    // chart.chart.options.scales.yAxes[0].gridLines.display = false;
    // chart.chart.options.tooltips.enabled = false;
    chart.chart.update();
  })
</script>

                <%#= column_chart benchmarks.map { |bench| 
                    {name: bench.game.name, data: bench.inputs.where(id: bench.inputs.map {|input| input if input.id % 10 == 0 }).group(:position).sum(:cpu)}},
                    colors: @colors, points: false, legend: false, height: "50px", max: 100 %>