  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Dashboard</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                <h3 class="card-title">Benchmarks</h3>
            
                <div class="card-tools">

                </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>Game</th>
                    </tr>
                    </thead>
                    <tbody>
                        <% @benchmarks.each do |bench| %>
                            <tr>
                                <td><%= bench.id %></td>
                                <td><%= link_to bench.game.name, bench_path(bench) %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
    </section>

<!-- ./wrapper -->
