<!DOCTYPE html>
<html>
  <head>
    <title>Valve-Ci</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="hold-transition sidebar-mini layout-fixed">
    <%= render 'layouts/sidebar' %>
    <%= yield %>
  </body>
</html>
